
<web-app>
<servlet>
<servlet-name>first</servlet-name>
<servlet-class>com.airlines.myapp.TicketBooking</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>first</servlet-name>
<url-pattern>/hai</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>second</servlet-name>
<servlet-class>com.airlines.myapp.Check_Details</servlet-class>
</servlet>

<servlet-mapping>

<servlet-name>second</servlet-name>
<url-pattern>/login</url-pattern>
</servlet-mapping>
</web-app>